.card {
  box-shadow: 0 4px 8px 0 rgba(153, 32, 32, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  border: 2px solid #3F2A56;
  

}

img {
  width: 100%;
  height: 100%;


}

.title {
  color: grey;
 
}




.contact {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #3F2A56;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
 
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
  padding-left: 1em;
}

i {
  color:#3F2A56;
  margin: auto
}
.center-div
{
     margin: 0 auto;
     width: 100px; 
}

